a/
after/
newRooms/
newRoom/
__pycache__/
classes/__pycache__/
segment/
pattern/fields/
pattern/trees/
pattern/imgs/
pattern/rcgs/
pattern/gens/
pattern/opts/
dist/
build/
*.egg-info/
sceneClasses/buffer.txt
sceneClasseses
spce_generate/